body{margin: 0; padding: 0;}

h2{text-transform: uppercase; font-size: 40px;}
button{border: none; background-color: #7b77c9; padding: 10px 20px; color: white; border-radius: 3px;}

.background_1{background-color: #23232e; padding: 20px 20%; text-align: center; overflow: hidden; color: white;}

.background_2{background-image: url("img/back.png"); padding: 20px 20%; text-align: center; overflow: hidden; color: #464b4f;}


/*this is header area*/
.header img{width: 10%; padding: 20px 0 50px 0;}
.header p{font-size: 10px; padding-bottom: 90px; line-height: 15px;}
.header a{font-size: 13px; color: white; border: 1px solid white; border-radius: 50%; padding: 6px 7px;}


/*this is what i do area*/
.whatido .txt{font-size: 19px; padding: 0 50px;}
.col{width: 29.33%; margin: 2%; float: left;}
.whatido .col{text-align: left;}
.whatido .col h4{text-transform: uppercase; margin: 10px 0; font-size: 13px;}
.whatido .col p{font-size: 12px;}

/*this is my work area*/
.mykaj .manu{margin-left: 150px;}
.mykaj .manu ul{margin: 0; padding: 0; list-style: none;}
.mykaj .manu ul li{float: left; padding: 0 20px;}
.mykaj .manu ul li a{color: white; text-decoration: none; font-size: 12px; padding-bottom: 3px;}
.mykaj .manu ul li a:hover{border-bottom: 2px solid #7b77c9;}
.mykaj .col img{width: 100%;}

/*this is photography area*/
.photography .col img{width: 100%;}

/*this is subscribe area*/
.subscribe a{color: white; font-size: 50px;}
.subscribe input{padding: 10px 20px; border: none; border-radius: 3px 0 0 3px; margin-right: -5px;}
.subscribe button{border-radius: 0 3px 3px 0;}

/*this is footer area*/
footer .icon{margin: 40px 0; display: flex; justify-content: center; gap:  30px;}
.icon i{font-size: 30px; color: gray;}
footer p, footer small{font-size: 16px; color: gray; font-weight: 200;}

@media all and (max-width: 768px){
	.header img{width: 30%;}
	h2{font-size: 30px;}
	.whatido .txt{padding: 0;}
	.background_1, .background_2{padding: 10px 10%;}
	.col{float: none; width: 100%;}
}

 


